* {
    font-family: helvetica;
}

body {
    position: relative;
}

#nav {
    position: fixed;
    height: 100%;
    width: 15%;
    top: 0px;
    left: 0px;
    border-radius: 0px 5px 5px 0px;
    box-shadow: 1px 1px 5px black;
    background-color: darkslategrey;
    animation: slideInFromLeft 2s ease;
}

@keyframes slideInFromLeft {
    0% {
        opacity: 0;
        margin-left: -200px;
    }
    100% {
        opacity:1;
        margin-left: 0px;
    }
}

.card.shadow {
    animation: slideInFromBottom 2s ease;
    border-radius: 5px;
}

@keyframes slideInFromBottom {
    0% {
        opacity: 0;
        transform: translateY(500px)
    }
    100% {
        opacity:1;
        transform: translateY(0px)
    }
}

.nav-section {
    width: 100%;
    height: 45%;
}

.nav-section:first-child {
    border-bottom: 1px solid grey;
}

.nav-section-title {
    text-align: center;
    padding: 10px 0px;
    background-color: transparent;
}

.nav-section-title h5 {
    margin-bottom: 0px;
    color: white;
    font-weight: 900;
}

.nav-list {
    padding: 0px;
}

.nav-list-item {
    width: 100%;
    list-style-type: none;
    padding: 1px 1px;
}

.nav-list-item:hover {
    background-color: white;
}

.nav-list-item a:link, a:visited {
    color: white;
    text-decoration: none;
}

.nav-list-item a:hover, a:active {
    color: black;
    text-decoration: none;
}

#main {
    position: absolute;
    width: 85%;
    right: 0px;
}